.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0px;
  z-index: 100;
  transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.HeaderScrolled {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  padding: 15px 0;
}

.HeaderGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-items: center;
  vertical-align: middle;
  align-items: center;
}

.HeaderGroup img {
  display: block;
}
.HeaderGroup img:hover {
  filter: saturate(150%);
}
.Header a {
  color: white;
  font-weight: 700;
  justify-self: center;
  vertical-align: middle;
}

.Header button {
  padding: 5px 15px;
  font-size: 20px;
  background: #61dafb;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Header button:hover {
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

.Header button2 {
  padding: 5px 15px;
  font-size: 20px;
  border: none;
  font-weight: 700;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.Header button2:hover {
  background: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

@media (max-width: 1060px) {
  .Header {
    padding: 15px 0;
  }
  .HeaderGroup {
    grid-template-columns: repeat(4, auto);
  }
  .Header a:nth-child(4) {
    display: none;
  }
}
